/target
.idea/modules.xml
.idea/vcs.xml
**/.idea
/temp_thumbs/
/downloaded_images/
/thumbnails
/app_runner/target
/release_test
/wallpaper_changer
wallpaper_changer-release.zip
/release
/wallpapers
*.zip
/windows-release
/wallpaper_app/linux/flutter